{% extends 'main/layout.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Контакты</title>
<p1><font size="5" color="#fff" Контакты </font></p1>
</head>
<body>
<section class="contacts">
    <div class="container">
        <div class="row">
            <div class="com-md-6">
                <h2>Контакты</h2>
                <p>Адрес офиса: <br>г. Москва, Пресненская наб., 8</p>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4491.530052121815!2d37.53777583811063!3d55.745211556893565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54bdc572ba325%3A0x7431dd39a5496df3!2z0J_RgNC10YHQvdC10L3RgdC60LDRjyDQvdCw0LEuLCA4LCDQnNC-0YHQutCy0LAsIDEyMzMxNw!5e0!3m2!1sru!2sru!4v1673085535799!5m2!1sru!2sru" width="70%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                 </div>








            <p>Номер телефона: <br><strong>+7 (916) 081 10 30</strong></p>
            <p>E-mail: <br> <a href="mailto:pontauto@mail.ru">pontauto@mail.ru</a></p>
            <p>Реквизиты: <br>  ИНН 12345678 ОГРН 87654321</p>
            </div>
            <div class="col-md-4 col-md-offset-2"
           </div>
     </div>
     </div>
</section>
<header>
</body>
</html>
{% endblock %}