{% extends 'main/layout.html' %}
{% load static %}
{% block title %}PontAuto{% endblock %}

{% block content %}

<!doctype html>
<html>
<head>

    <meta charset="UTF-8">
     <link rel="stylesheet" href="{% static 'main/css/indexx.css' %}">
<style>
   p {
    border: 1px solid #A9D0F5;
    padding: 10px;
   }
  </style>

</head>

<body>
   <h1 class="custom-colored-h1" align = "center">Аренда авто премиум класса в Москве</h1>

      <div class="features">
            <p>Подарите себе и близкому человеку драйв, эмоции, статус. В нашем автопарке вы найдете автомобиль, удовлетворяющий даже самый изысканный вкус.</p>
           <a href=" {% url 'rental' %}" class="btn btn-warning" role="button" aria-pressed="true">Поехали!</a>

      </div>

 <div>

     <h1 class="custom-colored-h1" align = "center">Популярные</h1>
<div class="wrap-table">
  <div class="table personal-styles">
    <div class="table__header">
      <div class="table__header__cell table__common-cell-1">Название</div>
      <div class="table__header__cell table__common-cell-2">Описание</div>
      <div class="table__header__cell table__common-cell-3">цена</div>
      <div class="table__header__cell table__common-cell-4">Перейти
      </div>
    </div>
    <div class="table__row">
      <div class="table__cell table__common-cell-1" data-title="Название">Lamborghini Huracan
        <h1><img src="https://avatars.mds.yandex.net/i?id=d2a06737a7a4b0e9741c30b96a7f67bdb4358aeb-8191391-images-thumbs&n=13" alt="Пример" width="150" height="150"></h1>
       </div>
      <div class="table__cell table__common-cell-2" data-title="Описание">
        Класс: Спорткары
        Мощность двигателя: 640 л.с.
        Объем двигателя: 5.2 литра
        Разгон 0-100 км/ч: 2.9 секунды
        Привод: полный
        Количество мест: 2
        Минимальный срок аренды: 1 сутки.</div>
      <div class="table__cell table__common-cell-3" data-title="Цена">130 000 руб./ сутки</div>
        <a href=" {% url 'LamborghiniHuracan' %}" class="btn btn-danger" role="button" aria-pressed="true">Кнопка</a>
    </div>
    <div class="table__row">
      <div class="table__cell table__common-cell-1" data-title="Название">Mercedes G-class AMG 63
      <h1><img src="https://avatars.mds.yandex.net/i?id=8911ae119df7df40b6682357b2cb1b62-3744351-images-thumbs&n=13" alt="Пример" width="150" height="150"></h1>

      </div>

      <div class="table__cell table__common-cell-2" data-title="Описание">
        Класс: Купе
        Мощность двигателя: 720 л.с.
        Объем двигателя: 4 литра твинтурбо
        Разгон 0-100 км/ч: 2.4 секунды
        Привод: полный
        Количество мест: 5
        Минимальный срок аренды: 1 сутки</div>
      <div class="table__cell table__common-cell-3" data-title="Цена">57 000 руб./ сутки</div>
      <a href=" {% url 'mersedes' %}" class="btn btn-danger" role="button" aria-pressed="true">Кнопка</a>
    </div>
    <div class="table__row">
      <div class="table__cell table__common-cell-1" data-title="Название">Nissan GT-R
          <h1><img src="https://realbritaincompany.com/wp-content/uploads/2019/12/Nissan-GTR-3502-300x300.jpg" alt="Пример" width="150" height="150"></h1>
       </div>
      <div class="table__cell table__common-cell-2" data-title="Описание">
        Класс: Купе         ///////
        Мощность двигателя: 600 л.с.
        Объем двигателя: 3.8 литра
        Разгон 0-100 км/ч: 2.8 секунды
        Привод: полный
        Количество мест: 4
        Минимальный срок аренды: 1 сутки</div>
      <div class="table__cell table__common-cell-3" data-title="Цена">35 000 руб./ сутки</div>
      <a href=" {% url 'Nissan' %}" class="btn btn-danger" role="button" aria-pressed="true">Кнопка</a>
    </div>



</div>

</div>
     <div>
        <ul class="list-group">
           <li class="list-group-item list-group-item-primary"><font color="#0A0A0A">Рады представить вам Pont Auto</li>
            <li class="list-group-item list-group-item-primary"><font color="#0A0A0A">С нами у Вас нет необходимости тратить время и средства на регулярный ремонт, оплату высоких налогов и сезонное хранение вашего автомобиля. Вам остается лишь наслаждаться непередаваемыми эмоциями от управления машиной вашей мечты.</h1>
            <li class="list-group-item list-group-item-primary"><font color="#0A0A0A">Ваша безопасность является для нас самой важной задачей. Строжайший контроль за техническим и санитарно-гигиеническом состоянием наших автомобилей - одна из отличительных черт и основополагающих идей, которыми мы руководствуемся.</h1>
            <li class="list-group-item list-group-item-primary"><font color="#0A0A0A">Мы гарантируем, что любой автомобиль из парка Pont Auto оставит в вашей душе яркий след и незабываемые впечатления.</h1>



        </ul>
    </div>

                <h1 class="custom-colored-h1" align = "center">Почему выбирают нас:</h1>

<div class="post-wrap">
<div class="post-item">
<div class="post-item-wrap">
<a href="" class="post-link">
<h1 class="post-content">Перед каждой поездкой автомобиль с водителем готовится индивидуально под клиента</h1>
</a>
</div>
</div>

<div class="post-item">
<div class="post-item-wrap">
<a href="" class="post-link">
<h1 class="post-content">возможность насладится вождением автомобиля Premium класса без водителя</h1>
</a>
</div>
</div>

<div class="post-item">
<div class="post-item-wrap">
<a href="" class="post-link">
<h1 class="post-content">Быстрое и грамотное оформление документов</h1>
</a>
</div>
</div>
</div>










</body>
</html>
{% endblock %}