{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Категории автомобилей{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Категории автомобилей</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
     <link rel="stylesheet" href="{% static 'main/css/premm.css' %}">
 <style>
   .scale {
    transition: 1s; /* Время эффекта */
   }
   .scale:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }
  </style>

</head>
<body>
 <h1 class="custom-colored-h1" align = "center">Аренда авто премиум класса</h1>
<a href="rental"><img src="{% static 'main/img/car-icon-all.png'%} "  alt="" class="scale"></a>
<a href="premium"><img src="{% static 'main/img/car-icon-premium.png'%} "  alt="" class="scale"></a>
<a href="sportcar"><img src="{% static 'main/img/car-icon-sportcar.png'%} " alt="" class="scale"></a>
<a href="vnedorozhnik"><img src="{% static 'main/img/car-icon-vnedorozhnik.png'%} " alt="" class="scale"></a>
<a href="minivan"><img src="{% static 'main/img/car-icon-minivan.png'%} " alt="" class="scale"></a>

<div class="product-wrap3">
  <div class="product-item">
    <img src="https://avatars.mds.yandex.net/i?id=5376d100f024d1b409d785c51611ba58-7012130-images-thumbs&n=13">
    <div class="product-buttons">
      <a href="rollsroyce" class="button">Посмотреть</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">ROLLS-ROYCE CULLINAN</a>
    <span class="product-price">150 000 руб</span>
  </div>
</div>

<div class="product-wrap5">
  <div class="product-item">
    <img src="https://avatars.mds.yandex.net/i?id=eb88b157e167eee09467f17e4ebf5e38-3936694-images-thumbs&n=13">
    <div class="product-buttons">
      <a href="Rangerover"class="button">Посмотреть</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Range Rover V</a>
    <span class="product-price">219 000 руб</span>
  </div>
</div>

<div class="product-wrap6">
  <div class="product-item">
    <img src="https://avatars.mds.yandex.net/i?id=b453f9a97aed1f00c68001c687427de5-5233272-images-thumbs&n=13">
    <div class="product-buttons">
      <a href="Bentley" class="button">Посмотреть</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Bentley Bentayga</a>
    <span class="product-price">100 000 руб</span>
  </div>
</div>

<div class="product-wrap12">
  <div class="product-item">
    <img src="https://avatars.mds.yandex.net/i?id=07f64d085086ea167321f2b95f353ce566cee85c-6379389-images-thumbs&n=13">
    <div class="product-buttons">
      <a href="rolsroyl" class="button">Посмотреть</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Rolls-Royce Wraith </a>
    <span class="product-price">85 000 руб</span>
  </div>
</div>

<div class="product-wrap14">
  <div class="product-item">
    <img src="https://avatars.mds.yandex.net/i?id=2a00000179f14adc75415cd0376e880e7135-4228606-images-thumbs&n=13">
    <div class="product-buttons">
      <a href="cadillac" class="button">Посмотреть</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Cadillac Escalade </a>
    <span class="product-price">52 000 руб</span>
  </div>
</div>

 <div class="product-wrap20">
  <div class="product-item">
    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/39/43/13/caption.jpg?w=300&h=300&s=1">
    <div class="product-buttons">
      <a href="mersedesv" class="button">Посмотреть</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">MERCEDES V 250D </a>
    <span class="product-price">19 000 руб</span>
  </div>
</div>







</body>

<style>
   a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }
  </style>
</html>
{% endblock %}