body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

   overflow: scroll;
}


* {
   margin: 0;
   box-sizing: border-box;
}

.item-content {
   background: #181818;
   padding: 40px;
}
.item-icon {
   margin-bottom: 20px;
}
.item-icon:before {
   content: "";
   font-family: FontAwesome;
   color:#F5F5DC;
   font-size: 50px;
   line-height: 1;
}

}
.item-icon.gift:before {
   content: "\f007";
}
.item-icon.group:before {
   content: "\f007";
}
.item-icon.tree:before {
   content:  "\f0ea";
}

@media (min-width: 960px) {
   .post-item {
      flex-basis: 33.333333333%;
   }
}

 .tab input, .tab-content { display: none; }
   .tab {
    font: 1 rem/1.2 Arial, sans-serif; /* Параметры шрифта */
    border: 4px solid #181818; /* Параметры рамки */
    border-radius: 3px; /* Скругляем уголки */
    color: #F0F8FF; /* Цвет текста */
    margin-bottom: 0px; /* Расстояние между пунктами */
    margin-top:10px


   }
   .tab-title {
    padding: 10px; /* Поля вокруг текста */
    display: block; /* Блочный элемент */
    text-transform: uppercase; /* Все буквы заглавные */
    font-weight: bold; /* Жирное начертание */
    cursor: pointer; /* Вид курсора */

   }
   .tab-title::after {
    content: '+'; /* Выводим плюс */
    float: right; /* Размещаем по правому краю */
    color:#fff;
   }
   .tab-content {
    padding: 10px 20px; /* Поля вокруг текста */
   }
   .tab :checked + .tab-title {
    background-color: #181818; /* Цвет фона */
    border-radius: 3px 3px 0 0; /* Скругляем уголки */
    color: #fff; /* Цвет текста */
   }
   .tab :checked + .tab-title::after {
    content: '−'; /* Выводим минус */
   }
   .tab :checked ~ .tab-content {
    display: block; /* Показываем содержимое */
   }

