 @import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap&subset=cyrillic");


 body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
        overflow: scroll;

}
body {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}
aside {
   float: left;
   background: #181818;
   width: 20%;
   padding: 2.5%;
   height: 100vh;
   color: #fff;
   border-right: 5px solid #4d4d4d;

}
.custom-colored-h1
{
    color: #fff;
}

aside img {
    width: 180px;
    margin-right: 100px;
    position: relative;
   top: -10px;
}
}

aside img {
    width 80px;
    float: left;
}

aside .logo {
   font-size: 40px;
   margin-left: 10px;
   font-weight; bold;
   position: relative;
   top: -5px;
}

aside h3 {
 margin-top: -10px;
 font-size: 28px;
}

aside ul {list-style: none}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;

}

aside ul li:hover, aside ul a:hover {
    color: #FFD700;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #fff;
    marnig-top: 200px;
    text-align: center;
    width: 75%;
}
 .list-group{
    position: center;
    margin-left: 230px;
    margin-top:680px;
    margin-right:3px;
 }
main .features h1 {font-size: 50px;}
main .features p {max-width: 600px; margin: 20px auto; font-size: 20px;}
main .features a {font-size: 20px;}

.alert-warning {
    float: left;
    width: 600px;
    margin: 20px 34%;
    text-align: left;
    top: -680px;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



.wrap-table {
  position: absolute;
  left: 20.5%;
  top: 38%;

}


.personal-styles {
  --table-display: table;
  --table-additional-font-family: "Oswald", sans-serif;
  --table-base-width: 100%;
  --table-base-text-transform: uppercase;
  --table-base-display: block;
  --table-base-line-height: 1.2;
  --table-row-display: table-row;
  --table-row-padding: 0;
  --table-row-border-bottom: none;
  --table-last-row-border: none;
  --table-cell-display: table-cell;
  --table-common-cell-1-width: 300px;
  --table-common-cell-2-width: 200px;
  --table-common-cell-3-width: 200px;
  --table-common-cell-4-width: 200px;
  --table-common-cell-1-padding: 0 0 0 40px;
  --table-cell-border-bottom: 1px solid #f2f2f2;
  --table-cell-padding: 20px 0px 20px 0;
  --table-cell-font-size: 16px;
  --table-cell-color: #666;
  --table-header-display: table-row;
  --table-header-bgcolor: #7a90ff;
  --table-header-cell-display: table-cell;
  --table-header-cell-padding: 20px 0px 20px 0;
  --table-header-cell-font-size: 18px;
  --table-header-cell-color: #fff;
}

.table {
  width: var(--table-base-width);
  display: var(--table-display);
}

.table__header {
  background: var(--table-header-bgcolor);
  width: var(--table-base-width);
  display: var(--table-header-display);
}

.table__header__cell {
  display: var(--table-cell-display);
  font-size: var(--table-header-cell-font-size);
  color: var(--table-header-cell-color);
  line-height: var(--table-base-line-height);
  padding: var(--table-header-cell-padding);
  text-transform: var(--table-base-text-transform);
  font-family: var(--table-additional-font-family);
}

.table__row {
  display: var(--table-row-display);
  background: #fff;
  width: var(--table-base-width);
  padding: var(--table-row-padding);
  border-bottom: var(--table-row-border-bottom);
}

.table__last-row {
  border: var(--table-last-row-border);
}

.table__cell {
  display: var(--table-cell-display);
  font-size: var(--table-cell-font-size);
  color: var(--table-cell-color);
  line-height: var(--table-base-line-height);
  padding: var(--table-cell-padding);
  border-bottom: var(--table-cell-border-bottom);
}

.table__common-cell-1 {
  width: var(--table-common-cell-1-width);
  padding: var(--table-common-cell-1-padding);
}

.table__common-cell-2 {
  width: var(--table-common-cell-2-width);
}

.table__common-cell-3 {
  width: var(--table-common-cell-3-width);
}

.table__common-cell-4 {
  width: var(--table-common-cell-3-width);
}

@media (max-width: 768px) {
  .personal-styles {
    --table-display: block;
    --table-cell-border-bottom: none;
    --table-cell-padding: 16px 0px 16px 30px;
    --table-cell-font-size: 16px;
    --table-row-display: block;
    --table-cell-display: block;
    --table-header-display: none;
    --table-header-cell-display: none;
    --table-common-cell-1-width: 100%;
    --table-common-cell-2-width: 100%;
    --table-common-cell-3-width: 100%;
    --table-common-cell-4-width: 100%;
    --table-common-cell-1-padding: 30px;
    --table-row-padding: 30px 15px 18px 0px;
    --table-row-border-bottom: 3px solid #e8e4e4;
  }

  .table__cell:before {
    font-size: 16px;
    color: #525252;
    line-height: var(--table-base-line-height);
    text-transform: var(--table-base-text-transform);
    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: var(--table-base-display);
    font-family: var(--table-additional-font-family);
  }




}

